body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}

a:hover {
    color:blue;
}
#important:hover{
	background-color: yellow; font-size:40px;
}
.less:hover{
	color:blue;
}
#cover:hover{
	background-color: black:
	color:white;
}
#hid:hover{
	background-color:blue;
	display:none;
}